@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
}

.gridbox {
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
}
.gridmax {
  grid-auto-rows: minmax(100px, auto);
}
@media screen and (max-width: 1400px) {
  .gridbox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .gridbox {
    grid-template-columns: repeat(2, 1fr);
  }
  .box7 {
    grid-column: span 3;
  }
}
@media screen and (max-width: 992px) {
  .gridbox {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .box7 {
    display: none;
  }
  
}

.box {
  @apply p-5 rounded-xl border-2 border-blue-100;
}

.box1 {
  grid-column: span 1;
  grid-row: span 3;
}
.box4 {
  grid-column: span 1;
  grid-row: span 3;
}

.box7 {
  grid-column: span 2;
  grid-row: span 2;
}

.MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}